.bs-docs-header {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom:4px;
    font-size: 24px;
    text-align: left;
    background: #6f5499;
    color: #cdbfe3;

    h1 {
      font-size: 60px;
      line-height: 1;
    }

    p {
      margin-bottom: 0;
      font-weight: 300;
      line-height: 1.4;
    }
}
