<div class="bs-docs-header" id="content" tabindex="-1">
  <div class="container">
    <h1>VUE 组件</h1>
    <p>无数可复用的组件，包括字体图标、下拉菜单、导航、警告框、弹出框等更多功能。</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-1">
      <div class="h5">下拉菜单:</div>
    </div>
    <div class="col-md-1">
      <vue-select :options="options"></vue-select>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-1">
      <div class="h5">弹窗:</div>
    </div>
    <div class="col-md-1">
      <button class="btn btn-default" type="submit" v-on:click="myClick" :model="modal.myShow">modal</button>
      <vue-modal :show="modal.myShow" :title="modal.title" :body="modal.myBody"></vue-modal>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-1">
      <div class="h5">导航:</div>
    </div>
    <div class="col-md-3">
      <vue-nav :navs="navs"></vue-nav>
    </div>
  </div>
  <hr>
  <div id="spin" class="spin"></div>
</div>
